.grid-wrapper {
    background-color: rgba(44, 36, 36, 0.808);
    height: 100%;
    position: absolute;
    width: 100%;
    
    
   
} 
.grid-with-nodes {
    width: fit-content;
    margin: auto;
    
}

.grid-container {
    max-width: 80%;
    width: fit-content;
    margin: auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 3px ;
    border-color:  rgb(252, 176, 12) ;
    
    
}
.row-container {
    display: flex;
}

.actionbar {
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0, .2);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(8, 66, 73, 0.822);
}
