.grid-wrapper {
    background-color: rgb(38, 133, 51);
} 
.grid-with-nodes {
    width: fit-content;
    margin: auto;
    
}

.grid-container {
    max-width: 80%;
    width: fit-content;
    margin: auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    
}
.row-container {
    display: flex;
    
}

.actionbar {
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0, .2);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(41, 153, 19, 0.822);
}
