/* .node__root > circle {
    fill: red;
    border: none;
  } */
  .QuickSortWrapper{
    background-color: rgb(42, 128, 156);
  }

  .tree-container {
    display: flex;
    align-items: flex-end;
    margin: 40px 40px;
    border: 5px solid black;
    height: 60vh;
  }
  .StepBack{
    background-color: rgb(0, 0, 2);
    color: rgb(231, 8, 8);
    font-family: sans-serif;
  }
  .Quicksort-Toolbar{
    justify-items: center;
    font-family: sans-serif;
    color: black;
    text-align: center;
    padding: 10px 10px;
    border-right: 3px solid rgba(0, 0, 0, 0.726);
  }
  .justify-content-between{
    border: 5 px solid rgba(0, 0, 0, 0.726);
  }
  .Quicksort-toolbarContainer {
    margin: 20px 20px;
    padding: 0 60px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    float: none;
    clear: both;
    justify-content: center;
    background-color:rgba(6, 20, 46, 0.795);
    border: 5px solid rgb(0, 0, 0);
  }