.sort-wrapper {
    height: 100vh;
    width: 100%;
    background: linear-gradient(
        to bottom,
        #020e20, #175686); 
}

.sorting-content {
    display: flex;
    justify-content: center;
    
    border: 20px solid rgb(0, 0, 0);
    padding:rgb(0, 0, 0); 
    background-color: rgba(19, 36, 107, 0.685);
}
.graph-wrapper {
    display: flex;
    border: 5px;
    /* background: radial-gradient(rgba(0, 0, 0, 0.637) 0.5px, inherit 0.5px);
    background-size: 10px 20px;  */
    margin: 25px 25px;
    align-items: flex-end;
    height: 600px
}

.rect {
    display: flex;
    background-color: grey;
    border: 3px solid black;
    width: 40px;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: -2px;
    justify-content: center;
}

.rect-data {
    align-self: flex-end;
    font-size: larger;
    font-weight: bold;
}

.actionbar {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.code-modal{
    padding: 20px 20px;
    padding-left: 50px;
    font-weight: bold;
}

.code-title {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    
}

.code-message {
    text-align: center;
    padding: 15px 15px;
    height: 50px;
    color:  rgb(0, 0, 0);
    background-color: rgba(255, 255, 0.75);
    font-weight: bolder;
    font-size: large;
    
    
}

/* TODO color scheme needs to change */
.code-wrapper {
    border: solid 5px rgb(0, 0, 0); 
    margin: 25px 50px;
    position: fixed;
    bottom: 75px;
    right: 0;
    border-radius: 15px;
    /* background-color: rgba(112, 112, 112, 1); */
    background-color: rgb(42, 128, 156);
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px; */
}

.code-content {
    padding: 15px 0;
    
}
.code-content pre {
    padding: 0;
    margin: 0;
    
}

.highlight {
    background-color: rgb(255, 255, 0.75);
    transition: background-color .8s linear;
}

