.sort-wrapper {
    display: flex;
    /* border-style: solid; */
    /* background-color: rgb(181, 159, 159); */
    margin: 25px 25px;
    width: 95%;
    align-items: flex-end;
    height: 600px
}

.rect {
    display: flex;
    background-color: grey;
    border: 2px solid black;
    width: 40px;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: -2px;
    justify-content: center;
}

.rect-data {
    align-self: flex-end;
    font-size: larger;
    font-weight: bold;
}

.actionbar {
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0, .2);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
