.sort-wrapper {
    height: calc(100% - 100px);
    width: 100%;
    overflow: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom,
            #09203F, #537895);
}

.sorting-content {
    height: 800px;
    display: flex;
    flex-direction: column;
}

.graph-wrapper {
    display: flex;
    border: 5px;
    /* background: radial-gradient(rgba(0, 0, 0, 0.637) 0.5px, inherit 0.5px);
    background-size: 10px 20px;  */
    margin: 25px 25px;
    align-items: flex-end;
    height: 600px
}

.rect {
    display: flex;
    background-color: grey;
    border: 2px solid black;
    width: 40px;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: -2px;
    justify-content: center;
}

.rect-data {
    align-self: flex-end;
    font-size: larger;
    font-weight: bold;
}

.actionbar {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.code-modal {
    padding: 20px 20px;
    padding-left: 50px;
}

.code-title {
    text-align: center;
}

.code-message {
    text-align: center;
    padding: 15px 15px;
    height: 15px;
}

/* TODO color scheme needs to change */
.code-wrapper {
    /* border: solid 3px rgb(187, 187, 187); */
    margin: 25px 50px;
    position: fixed;
    bottom: 75px;
    right: 0;
    /* border-radius: 5px; */
    /* background-color: rgba(112, 112, 112, 1); */
    background-color: rgb(173, 216, 230);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}

.code-content {
    padding: 15px 0;
}

.code-content pre {
    padding: 0;
    margin: 0;
}

.highlight {
    background-color: rgb(255, 255, 0.75);
    transition: background-color .8s linear;
}

@media screen and (max-width: 1618px) {

    /* the action bar for pathfinding needs to be responsive, still need ideas on how to do so */
    .actionbar {
        background: red;

    }
}

@media screen and (max-width: 1462px) {

    /* code display box needs to be under the .sorting-content */
    .code-wrapper {
        margin: 25px 50px;
        position: absolute;
        height: fit-content;
        top: 650px;
        right: auto;
        bottom: 75px;
        left: 0;
    }
}
@media screen and (max-width: 768px) {

    /* code display box needs to be under the .sorting-content */
    .code-wrapper {
        margin: 25px 50px;
        position: absolute;
        height: fit-content;
        top: 650px;
        right: auto;
        bottom: 90px;
        left: 0;
    }

}